<div class="container px-5 px-sm-0">
  <div class="row">
    <!--部分テンプレート-->
    <div class="col-md-3">
　　<%= render 'users/info', books: @books,user: @user %>
　　</div>
    <!--bookの一覧画面-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
      </thead>
      <% @books.each do |book| %>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image(40,40) %>
            </td>
            <td>
              <%= link_to book_path%>
              <span><%=books.title%></span>
            </td>
            <td>
              <span><%=books.body%></span>
            </td>
          </tr>
        </tbody>
      </table>
      <%end%>
    </div>
  </div>
</div>
