<div class="container px-5 px-sm-0">
  <div class="row">
    <!--部分テンプレート-->
    <div class="col-md-3">
　　<%= render 'users/info',books: @books, book: @book,user: @user %>
　　<!--Bookの詳細画面-->
　　</div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image(40,40) %><br/>
              <%=link_to "#{@user.name}",user_path(@user.id)%>
            </td>
            <td>
              <% if @user.id == current_user.id %>
              <span><%= link_to "#{@books.title}", book_path%></span>
              <%else%>
              <span><%= link_to "#{@books.title}", book_path%></span>
              <% end %>
            </td>
            <td>
              <span><%=@books.body%></span>
            </td>
            <td>
            <% if @user.id == current_user.id %>
            <td><%= link_to 'Edit', edit_book_path(@books),class:"btn btn-sm btn-success" %> </td>
            <td><%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm"=>"本当に消しますか?",class:"btn btn-sm btn-danger"%></td>
            <%else%>
              <%link_to book_path(@books)%>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
